<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tk.mybatis.simple.mapper.CountryMapper">

    <select id="selectAll" resultType="Country">
        select id, countryname, countrycode
        from country
    </select>

    <select id="selectOneWithoutParam" resultType="tk.mybatis.simple.model.Country">
        select *
        from country
        where id = 1
    </select>

    <select id="selectOneById" resultType="tk.mybatis.simple.model.Country">
        select *
        from country
        where id = #{0}
    </select>

    <select id="selectOneByIdAndCodeWithList" resultType="tk.mybatis.simple.model.Country">
        select *
        from country
        where id = #{0}
        and countrycode = #{1}
    </select>

    <select id="selectOneByIdAndCodeWithMap" resultType="tk.mybatis.simple.model.Country">
        select *
        from country
        where id = #{id}
        and countrycode = #{countrycode}
    </select>

    <select id="selectOneByIdAndCode" resultType="Country">
        select *
        from country
        where id = #{id}
        and countrycode = #{countrycode}
    </select>







</mapper>
